body {
     background-color: #202020;
     display: flex;
     justify-content: space-around;
}

#montanha {
    border: 5px solid #051367;
    background-color: #f8f8f8;
    border-radius: 10px;
    position: relative;   
    overflow: hidden;
}

#skier {
    position: absolute;
}

#painel {
    width: 150px;
    height: 200px;
    border: 5px solid #051367;
    background: #f8f8f8;
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.para-frente {
    background-image: url(skier.png);
    background-position: -67px -2px;
    background-repeat: no-repeat;
    width: 15px;
    height: 32px;
}

.para-esquerda {
    background-image: url(skier.png);
    background-position: -26px -43px;
    background-repeat: no-repeat;
    width: 22px;
    height: 28px;;
}

.para-direita {
    background-image: url(skier.png);
    background-position: -25px -6px;
    background-repeat: no-repeat;
    width: 22px;
    height: 28px;;
}

.arvore {
    background-image: url(./obstacles.png);
    background-position: 0px -31px;
    width: 28px;
    height: 32px;
    position: absolute;
}